################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EasyIM-PC-SDK-Demo/obj
/EasyIM-PC-SDK/obj
/.vs/EasyIM-PC-SDK
/EasyIM-PC-SDK/bin/Debug/netcoreapp3.1
/EasyIM-PC-SDK-Demo/bin/Debug/netcoreapp3.1
/.idea
